{% extends "base.html" %}

{% block title %}داشبورد{% endblock %}

{% block content %}
    <div>سلام {{ user.get_name }}!</div>
    <br/><br/>
    <div class="w3-card-4" style="width:50%; margin-right: 25%; width: 50% ">
        {% if is_admin %}
            <a href="{% url 'add_unit' %}">افزودن واحد جدید</a>
            <br/>
            <a href="{% url 'add_employee' %}">افزودن کارمند جدید</a>
            <br/>
            <a href="{% url 'add_season' %}">افزودن فصل جدید و پایان فصل جاری</a>
            <br/>
            <br/>
            <a href="{% url 'list_season' %}"> فصل های گذشته</a>
            <br/>
            <a href="{% url 'add_scale' %}">افزودن معیار جدید</a>
            <br/>
            <a href="{% url 'employee_list' %}">لیست کارمندان</a>
            <br/>
        {% endif %}
        {% if is_employee %}
            <a href="{% url 'show_employee' pk=user.get_job.get_id %}">مشخصات و ارزیابی من</a>
            <br/>
            <a href="{% url 'assessment_list' %}">لیست ارزیابی‌های در دست انجام</a>
            <br/>
        {% endif %}
        <a href="{% url 'user_update' %}">تغییر نام کاربری یا گذرواژه</a>
        <br/>
        <a href="{% url 'logout' %}">خروج از سیستم</a>
    </div>
{% endblock %}
