{% extends "base.html" %}
{% block title %}ارزیابی کارمند{% endblock %}

{% block content %}
    <div>
        <h2>مشخصات کارمند</h2>
        <table  id="mytable" class="table table-bordred table-striped" >
            <tr>
                <td>نام</td>
                <td>{{ user.get_first_name }}</td>
            </tr>
            <tr>
                <td>نام خانوادگی</td>
                <td>{{ user.get_last_name }}</td>
            </tr>
            <tr>
                <td>سال تولد</td>
                <td>{{ user.get_year_of_birth }}</td>
            </tr>
            <tr>
                <td>واحدها</td>
                <td>{{ assessed.get_units_as_string }}</td>
            </tr>
        </table>
    </div>
    <br/><br/>
    <div>
        <div>
            <table  id="mytable" class="table table-bordred table-striped" >
                <tr>
                    <td>نام معیار</td>
                    <td>{{ scale.get_title }}</td>
                </tr>
                <tr>
                    <td>توضیحات معیار</td>
                    <td>{{ scale.get_description }}</td>
                </tr>
                {% if scale.get_quantitative_criterion %}
                    <tr>
                        <td>فرمول کمی</td>
                        <td>{{ scale.get_quantitative_criterion.get_formula }}</td>
                    </tr>
                    <tr>
                        <td>تفسیر کمی</td>
                        <td>{{ scale.get_quantitative_criterion.get_interpretation }}</td>
                    </tr>
                {% endif %}
                {% if scale.get_qualitative_criterion %}
                    <tr>
                        <td>گزینه‌های کیفی</td>
                            <td>
                                {% for item in scale.get_qualitative_criterion.get_choices_list %}
                                    <span>{{ item }}</span>
                                    {% if not forloop.last %}
                                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                    {% endif %}
                                {% endfor %}
                            </td>

                    </tr>
                    <tr>
                        <td>تفسیر کیفی</td>
                        <td>{{ scale.get_qualitative_criterion.get_interpretation }}</td>
                    </tr>
                {% endif %}
            </table>
            <hr/>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table  id="mytable" class="table table-bordred table-striped" >
                {{ form.as_table }}
            </table>
            <input type="submit" value="ثبت" />
        </form>
    </div>
{% endblock %}
