{% extends "base.html" %}

{% block title %}لیست معیارها{% endblock %}

{% block content %}
    <h2>لیست معیارها</h2>
    <div>
        <div>
            <h4>معیارهای واحد فلان</h4>
            <ul>
                <li><span>معیار اول</span>&nbsp;<span><a href="#">(تغییر)</a>&nbsp;</span><span><a href="#">(حذف)</a></span><br/></li>
                <li><span>معیار دوم</span>&nbsp;<span><a href="#">(تغییر)</a>&nbsp;</span><span><a href="#">(حذف)</a></span><br/></li>
                <li><span>معیار سوم</span>&nbsp;<span><a href="#">(تغییر)</a>&nbsp;</span><span><a href="#">(حذف)</a></span><br/></li>
            </ul>
        </div>
        <br/>
    </div>
{% endblock %}
