{% extends "base.html" %}

{% block title %}لیست کارمندان{% endblock %}

{% block content %}
    <h2>لیست کارمندان</h2>
    <span><a href="#">همه‌ی کارمندان</a>&nbsp;&nbsp;&nbsp;&nbsp;</span><span><a href="#">کارمندان بدون ارزیاب</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">کارمندان دارای ارزیاب</a></span><br/>
    <div>
        <ul>
            <li>احمد احمدی&nbsp;<a href="#">(نمایش)</a></li>
            <li>حسن حسنی&nbsp;<a href="#">(نمایش)</a></li>
            <li>علی علوی&nbsp;<a href="#">(نمایش)</a></li>
        </ul>
    </div>
{% endblock %}
