{% extends "base.html" %}

{% block title %}نمایش کارمند{% endblock %}

{% block content %}
    <h2>مشخصات کارمند</h2>
    <div>
        <table>
            <tr>
                <td>کد پرسنلی</td>
                <td> {{ user.get_personnel_code}}</td>
            </tr>
            <tr>
                <td>نام و نام خانوادگی</td>
                <td> {{ user.get_name }}</td>
            </tr>
            <tr>
                <td>واحدها</td>
                <td> {{ employee.get_units_as_string }}</td>
            </tr>
        </table>
        <br/><br/>
        <div>
            {% if employee.has_assessment %}
                <div>
                    <div>ارزیاب: <span>{{ assessment.get_assessor.get_user.get_name }}</span></div>
                    <br/>
                    {% if employee.assessment_done %}
                        {% for sc in assessment.get_scale_answers %}
                             <div>معیار: <span>{{ sc.get_scale.get_title }}</span></div>
                            <ul>
                                {% if sc.get_qualitative_answer %}
                                    <li>پاسخ کیفی: <span>{{ sc.get_qualitative_answer }}</span></li>
                                {% endif %}
                                 {% if sc.quantitative_answer %}
                                      <li>پاسخ کمی: <span>{{ sc.get_quantitative_answer }}</span></li>
                                 {% endif %}
                             </ul>
                        {% endfor %}

                        <div>
                            <a href="{% url 'punishment_reward' pk=assessment.get_punishment_reward.get_id %}">تعیین روش تشویق و تنبیه</a>
                        </div>
                    {% else %}
                        <div>
                            <ul>
                                ارزیابی در دست انجام است
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <br/>
            {% else %}
                <span>ارزیابی نشده است</span>
                <br>
                 <br>
            {% if viewer.is_admin %}
                <div><a href="{% url 'create_assessment' pk=user.get_id %}" style="color: #721c24;">تعیین ارزیاب و معیار ارزیابی</a></div>
            {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}
