{% extends "base.html" %}

{% block title %}لیست تناقضات در دست تصمیم‌گیری{% endblock %}

{% block content %}
    <h2>لیست تناقضات در دست تصمیم‌گیری</h2>
    <div>
        <div>
            <ul>
                <li>
                    <div>
                        <span>درخواست‌کننده: </span><span>حسن حسنی</span><br/>
                        <span>ارزیاب ۱: </span><span>قلی قلی‌پور</span><br/>
                        <span>ارزیاب ۲: </span><span>اکبر زنجانی</span><br/>
                        <span><a href="#">نمایش</a></span>
                    </div>
                </li>
                <br/>
                <li>
                    <div>
                        <span>درخواست‌کننده: </span><span>حسن ملکی</span><br/>
                        <span>ارزیاب ۱: </span><span>قلی حسن‌زاده</span><br/>
                        <span>ارزیاب ۲: </span><span>غلام هاشمی</span><br/>
                        <span><a href="#">نمایش</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <br/>
    </div>
{% endblock %}
