{% extends "base.html" %}

{% block title %}لیست درخواست‌های ارزیابی مجدد{% endblock %}

{% block content %}
    <h2>لیست درخواست‌های ارزیابی مجدد</h2>
    <div>
        <div>
            <ul>
                <li>
                    <div>
                        <span>درخواست‌کننده: </span><span>حسن حسنی</span><br/>
                        <span>علت: </span><span>زیرا این ارزیابی فلان فلان</span><br/>
                        <span><a href="#">نمایش</a></span>
                    </div>
                </li>
                <br/>
                <li>
                    <div>
                        <span>درخواست‌کننده: </span><span>اکبر اکبری</span><br/>
                        <span>علت: </span><span>زیرا این ارزیابی بهمان بهمان</span><br/>
                        <span><a href="#">نمایش</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <br/>
    </div>
{% endblock %}
