{% extends "base.html" %}

{% block title %}بررسی تناقض حاصل از ارزیابی مجدد{% endblock %}

{% block content %}
    <h2>مشخصات کارمند: علی علوی</h2>
    <div>
        <table>
            <tr>
                <td>نام</td>
                <td>علی</td>
            </tr>
            <tr>
                <td>نام خانوادگی</td>
                <td>علوی</td>
            </tr>
            <tr>
                <td>شماره پرسنلی</td>
                <td>۳۱۰۴۹۱۱۲</td>
            </tr>
            <tr>
                <td>واحد</td>
                <td>حسابداری</td>
            </tr>
            <tr>
                <td>نوع</td>
                <td>مدیر واحد</td>
            </tr>
        </table>
        <br/><br/>
        <div>
            <h4>ارزیابی ۱</h4>
            <table>
                <tr>
                    <td>ارزیاب</td>
                    <td>
                        <span>فلانی</span>
                    </td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نام معیار</td>
                    <td>تست</td>
                </tr>
                <tr>
                    <td>توضیحات معیار</td>
                    <td>تست</td>
                </tr>
                <tr>
                    <td>پاسخ کمی</td>
                    <td>۴</td>
                </tr>
                <tr>
                    <td>پاسخ کیفی</td>
                    <td>خیلی خوب</td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نام معیار</td>
                    <td>تست ۲</td>
                </tr>
                <tr>
                    <td>توضیحات معیار</td>
                    <td>تست ۲</td>
                </tr>
                <tr>
                    <td>پاسخ کمی</td>
                    <td>۶</td>
                </tr>
                <tr>
                    <td>پاسخ کیفی</td>
                    <td>-</td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نظر کلی</td>
                    <td>به نظر من تنبیه شود</td>
                </tr>
            </table>
        </div>
        <br/><br/>
        <div>
            <h4>ارزیابی ۲</h4>
            <table>
                <tr>
                    <td>ارزیاب</td>
                    <td>
                        <span>بهمانی</span>
                    </td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نام معیار</td>
                    <td>تست</td>
                </tr>
                <tr>
                    <td>توضیحات معیار</td>
                    <td>تست</td>
                </tr>
                <tr>
                    <td>پاسخ کمی</td>
                    <td>۴۰</td>
                </tr>
                <tr>
                    <td>پاسخ کیفی</td>
                    <td>خیلی خوب</td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نام معیار</td>
                    <td>تست ۲</td>
                </tr>
                <tr>
                    <td>توضیحات معیار</td>
                    <td>تست ۲</td>
                </tr>
                <tr>
                    <td>پاسخ کمی</td>
                    <td>۵۴۵</td>
                </tr>
                <tr>
                    <td>پاسخ کیفی</td>
                    <td>-</td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr>
                    <td>نظر کلی</td>
                    <td>به نظر من پاداش داده شود</td>
                </tr>
            </table>
        </div>
        <br/><br/>
        <div>
            <span>روش تنبیه یا تشویق (جمع‌بندی ارزیابی‌ها)</span><br/>
            <textarea></textarea>
            <button>ثبت</button>
        </div>
    </div>
{% endblock %}
