{% extends "base.html" %}

{% block title %}بررسی درخواست ارزیابی مجدد{% endblock %}

{% block content %}
    <h2>مشخصات کارمند: علی علوی</h2>
    <div>
        <table>
            <tr>
                <td>نام</td>
                <td>علی</td>
            </tr>
            <tr>
                <td>نام خانوادگی</td>
                <td>علوی</td>
            </tr>
            <tr>
                <td>شماره پرسنلی</td>
                <td>۳۱۰۴۹۱۱۲</td>
            </tr>
            <tr>
                <td>واحد</td>
                <td>حسابداری</td>
            </tr>
            <tr>
                <td>نوع</td>
                <td>مدیر واحد</td>
            </tr>
            <tr>
                <td>ارزیاب</td>
                <td>
                    <span>فلانی</span>
                </td>
            </tr>
            <tr>
                <td>نتیجه‌ی ارزیابی</td>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>نام معیار</td>
                                <td>تست</td>
                            </tr>
                            <tr>
                                <td>توضیحات معیار</td>
                                <td>تست</td>
                            </tr>
                            <tr>
                                <td>پاسخ کمی</td>
                                <td>۴</td>
                            </tr>
                            <tr>
                                <td>پاسخ کیفی</td>
                                <td>خیلی خوب</td>
                            </tr>
                        </table>
                        <hr/>
                        <table>
                            <tr>
                                <td>نام معیار</td>
                                <td>تست ۲</td>
                            </tr>
                            <tr>
                                <td>توضیحات معیار</td>
                                <td>تست ۲</td>
                            </tr>
                            <tr>
                                <td>پاسخ کمی</td>
                                <td>۶</td>
                            </tr>
                            <tr>
                                <td>پاسخ کیفی</td>
                                <td>-</td>
                            </tr>
                        </table>
                        <hr/>
                        <table>
                            <tr>
                                <td>نظر کلی</td>
                                <td>به نظر من...</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <table border="1px">
                <tr>
                    <td width="200px" style="text-align: center;">
                        <button>رد درخواست</button>
                    </td>
                    <td width="200px" style="text-align: center;">
                        <span>ارزیاب ثانویه‌ی ۱</span>
                        <select>
                            <option value="null">تعیین نشده</option>
                            <option value="">بهمان</option>
                            <option value="">فلان</option>
                        </select>
                        <br/>
                        <span>ارزیاب ثانویه‌ی ۲</span>
                        <select>
                            <option value="null">تعیین نشده</option>
                            <option value="">بهمان</option>
                            <option value="">فلان</option>
                        </select>
                        <br/>
                        <button>اختصاص این دو ارزیاب جدید</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
